In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import statistics as stat

In [26]:
fb_db = pd.read_csv('FB_stock_history.csv')
fb_db.drop(['Dividends','Stock Splits'],axis=1,inplace=True)
fb_db.head()

         Date       Open       High        Low      Close     Volume
0  2012-05-18  42.049999  45.000000  38.000000  38.230000  573576400
1  2012-05-21  36.529999  36.660000  33.000000  34.029999  168192700
2  2012-05-22  32.610001  33.590000  30.940001  31.000000  101786600
3  2012-05-23  31.370001  32.500000  31.360001  32.000000   73600000
4  2012-05-24  32.950001  33.209999  31.770000  33.029999   50237200

In [21]:
fb_db.dtypes

Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends         int64
Stock Splits      int64
dtype: object

In [22]:
format_date_2013=fb_db[fb_db['Date'].str.contains("2013")]
#format_date_2013.drop(columns=['Dividends','Stock Splits'])

#format_date_2018=fb_db[fb_db['Date'].str.contains("2018")]
#format_date_2019=fb_db[fb_db['Date'].str.contains("2019")]